[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uflash = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
flash = "uflash /media/microbit __main__.py"
